<app-loader [loading]="loading"></app-loader>
<div>
    <mat-card>
        <mat-card-header>

            <mat-card-title>
                RECAUDOS
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <button mat-raised-button color="primary" (click)="getReport()">
                Reporte
            </button>
            <button mat-raised-button color="primary" (click)="generateData()">
                Generar Data
            </button>

            <mat-table-responsive-container>
                <table width="100%" mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef>
                            <div> Fecha </div>
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                    </ng-container>

                    <ng-container matColumnDef="hour">
                        <th mat-header-cell *matHeaderCellDef>
                            <div> Hora </div>
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
                    </ng-container>

                    <ng-container matColumnDef="estation">
                        <th mat-header-cell *matHeaderCellDef>
                            <div> Estación </div>
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.estacion.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="category">
                        <th mat-header-cell *matHeaderCellDef>
                            <div> Categoria </div>
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.categoria.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="sentido">
                        <th mat-header-cell *matHeaderCellDef>
                            <div> Sentido </div>
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.sentido.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef>
                            <div> Cantidad </div>
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
                    </ng-container>

                    <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef>
                            <div> Total </div>
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                    </ng-container>

                    <tr mat-header-row
                        *matHeaderRowDef="[ 'date','hour', 'estation', 'category', 'sentido','quantity', 'total']"></tr>
                    <tr mat-row
                        *matRowDef="let row; columns: ['date','hour', 'estation', 'category', 'sentido','quantity', 'total'];">
                    </tr>
                </table>
            </mat-table-responsive-container>
        </mat-card-content>
    </mat-card>
</div>