<mat-sidenav-container fullscreen [autosize]="true">
    <mat-sidenav-content>
      <div style="display: grid;
      grid-template-rows: auto 1fr auto;
      height: inherit;">
  
      <header>
        <mat-toolbar #toolbar color="primary" class="toolbar-position-fixed">
      
          <div class="header-content">
      
          </div>
        </mat-toolbar>
      </header>
  
        <div>
        
          <router-outlet></router-outlet>
        </div>
  
      
      </div>
  
    </mat-sidenav-content>
  </mat-sidenav-container>